body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
    margin: 0px;
}

.btn{
	background: blue;
	height: 40px;
	width: 80px;
	color: white;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: nowrap column;
    overflow:hidden;
    background-color: white;
}

.panel {    
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background: #FFE4C4;
    min-height: 50px;
    height: 100%;
}
.footer {
    background: #FFE4C4;
    height: 100%;
    display:flex;
    flex-flow: column nowrap;
    align-items: stretch;
    text-align: center;
    justify-content: flex-start;
    overflow: hidden;
}
.footerArea{
    flex-grow: 1;
    display: flex;
    min-height: 100px;
    flex-flow: column;
    overflow-y: auto;
}
.footerAreaContent {
    min-height: 10px;
}
.body {
    background: white;
    flex-grow: 3;
    display: flex;
    flex-flow: row nowrap;
}

.sideBarResizeContainer {
    width: 30%;
}
.sidebar {
    background: lightpink;
    min-width: 200px;
    width: 400px;
    width:100%;
    box-sizing: border-box;
    text-align: center;
    flex-grow: 1;
}


.withMargin {
    margin: 10px;
    box-sizing: border-box;
}

.content {
    flex-grow: 2;  
    background: white; 
}

.customHandle {
    cursor: ew-resize;
    width: 10px;
    height: 100px;
    margin: 0px -5px;
    background: white;
    border: 2px solid gray;
    border-radius: 2px;
    text-align: center;
    z-index: 99999;
    overflow: hidden;
    display: flex;
    align-items: center ;
}

.customResizeBorder {
    cursor: ew-resize;
    width: 5px;
    background: white;
    display: flex;
    z-index: 99999;
    align-items: center ;
    align-content: center ;
    justify-content: center;
    overflow: visible;

}